
#
# This file is part of Jkop
# Copyright (c) 2016 Job and Esther Technologies, Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

moduletype: library
depends: eq.gui
android {
	depends: eq.gui.sysdep.android
}
linux* {
	depends: eq.gui.sysdep.gtk
}
osx* {
	depends: eq.gui.sysdep.osx
}
ios* {
	depends: eq.gui.sysdep.ios
}
bb10 {
	depends: eq.gui.sysdep.bb10
}
win7* {
	depends: eq.gui.sysdep.direct2d
}
winxp {
	depends: eq.gui.sysdep.gdiplus
}
html {
	depends: eq.gui.sysdep.html5
}
IFDEF("target_html5") {
	depends: eq.gui.sysdep.html5
}
wp8 {
	depends: eq.gui.sysdep.wp8
}
wp8cs {
	depends: eq.gui.sysdep.wpcs
}
uwpcs {
	depends: eq.gui.sysdep.xamlcs
}
bbjava {
	depends: eq.gui.sysdep.bbjava
}
j2me {
	depends: eq.gui.sysdep.j2me
}
j2se {
	depends: eq.gui.sysdep.swing
}
