
#
# This file is part of Jkop
# Copyright (c) 2016 Job and Esther Technologies, Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

moduletype: library
depends: eq.gui

### FIXME: These are because of the background task dialog.
### Let's remove them when we have native implementations.
depends: eq.widget.dialog
depends: eq.widget

android {
	depends: eq.gui.sysdep.android
}
j2se* {
	depends: eq.gui.sysdep.swing
}
apiref {
	depends: eq.widget.textinput
}
IFDEF("target_html5") {
	depends: eq.widget.textinput
	depends: eq.gui.sysdep.html5
}
win* {
	depends: eq.widget.textinput
	depends: eq.gui.sysdep.direct2d
}
wp8* {
	depends: eq.widget.textinput
	depends: eq.gui.sysdep.wpcs
}
linux* {
	cflags: `pkg-config gtk+-2.0 --cflags`
	depends: eq.gui.sysdep.gtk
	depends: eq.widget.textinput
}
j2me* {
	depends: eq.widget.textinput
}
bbjava {
	depends: eq.widget.textinput
}
bb10 {
	depends: eq.widget.textinput
}
uwpcs {
	depends: eq.gui.sysdep.xamlcs
}
pnacl {
	depends: eq.widget.textinput
}
csdotnet {
	depends: eq.widget.textinput
}
dummy {
	depends: eq.widget.textinput
}
