
#
# This file is part of Jkop
# Copyright (c) 2016 Job and Esther Technologies, Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

moduletype: library
depends: eq.io
depends: eq.os
depends: eq.util.url
apiref {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
android {
	depends: eq.os.task
	android_permissions: android.permission.INTERNET
}
j2me {
	depends: eq.os.task
}
j2se* {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
bbjava {
	depends: eq.os.task
}
linux* {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
wp* {
	depends: eq.os.task
}
win* {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.os.eventloop
	ldflags: -lwinhttp
}
osx* {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
ios* {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
html* {
	depends: eq.os.task
	depends: eq.gui
	depends: eq.gui.sysdep.html5
}
chrome* {
	depends: eq.os.task
	depends: eq.gui
}
pnacl {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
uwpcs {
	depends: eq.os.task
	uwp_capabilities: internetClient
}
csdotnet {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
dummy {
	depends: eq.os.task
	depends: eq.net.socket
	depends: eq.net.ssl
}
